USE [RMSDB]
GO
/****** Object:  StoredProcedure [dbo].[GetTablesOnChangeing]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GetTablesOnChangeing]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[menuItems]') AND type in (N'U'))
ALTER TABLE [dbo].[menuItems] DROP CONSTRAINT IF EXISTS [DF_menuItems_status]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[UserTable]
GO
/****** Object:  Table [dbo].[Subcription_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[Subcription_Tbl]
GO
/****** Object:  Table [dbo].[Stock_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[Stock_Tbl]
GO
/****** Object:  Table [dbo].[section]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[section]
GO
/****** Object:  Table [dbo].[SaleDetail]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[SaleDetail]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[Sale]
GO
/****** Object:  Table [dbo].[R_Tables]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[R_Tables]
GO
/****** Object:  Table [dbo].[POS_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[POS_Tbl]
GO
/****** Object:  Table [dbo].[menuItems]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[menuItems]
GO
/****** Object:  Table [dbo].[menuCategory]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[menuCategory]
GO
/****** Object:  Table [dbo].[Login_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[Login_Tbl]
GO
/****** Object:  Table [dbo].[CashierTable]    Script Date: 9/1/2020 8:21:46 PM ******/
DROP TABLE IF EXISTS [dbo].[CashierTable]
GO
/****** Object:  Table [dbo].[CashierTable]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashierTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CashierId] [int] NOT NULL,
	[CurrentDay] [datetime] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[TotalHour] [float] NULL,
 CONSTRAINT [PK_Cashier] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[First_Login_Date] [datetime] NOT NULL,
	[Last_Login_Date] [datetime] NOT NULL,
	[Expiration_Date] [datetime] NOT NULL,
	[IsAuthenticated] [int] NOT NULL,
 CONSTRAINT [PK_Login_Tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menuCategory]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
 CONSTRAINT [PK_menuCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menuItems]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menuItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cat_id] [int] NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[itemName] [nvarchar](250) NOT NULL,
	[section_id] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[discountpercnt] [float] NOT NULL,
	[status] [bit] NOT NULL,
	[quantity] [float] NOT NULL,
	[barcode] [nvarchar](250) NOT NULL,
	[Aed_Vat] [float] NOT NULL,
 CONSTRAINT [PK_menuItems] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POS_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[PhoneNumber] [nvarchar](250) NOT NULL,
	[Pic] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_POS_Tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[R_Tables]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[R_Tables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[capacity] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[filled] [int] NULL,
 CONSTRAINT [PK_R_Tables] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Sale_Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketNo] [nvarchar](250) NOT NULL,
	[TableName] [nvarchar](250) NULL,
	[CustomerName] [nvarchar](250) NOT NULL,
	[OrderType] [nvarchar](250) NOT NULL,
	[Balance] [float] NOT NULL,
	[TicketNote] [nvarchar](250) NULL,
	[IsDeleted] [int] NULL,
	[PhoneNumber] [nvarchar](250) NULL,
	[DeliveryAddress] [nvarchar](250) NULL,
	[IsBillPending] [int] NULL,
	[cashier_id] [int] NOT NULL,
	[day] [datetime] NOT NULL,
	[ReceivedAmount] [float] NULL,
	[RemainingBalance] [float] NULL,
	[NumberOfPerson] [int] NOT NULL,
	[TAX] [float] NOT NULL,
	[IsRefund] [int] NOT NULL,
	[Cahier_Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[Sale_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetail]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetail](
	[ItemId] [int] NOT NULL,
	[itemName] [nvarchar](250) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[Quantity] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[TicketNo] [nvarchar](250) NOT NULL,
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[Aed_Vat] [float] NOT NULL,
	[Aed_Vat_Amount] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_SaleDetail] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[section]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[section](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sectionname] [varchar](50) NULL,
 CONSTRAINT [PK_section] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Tbl](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](250) NOT NULL,
	[ItemName] [nvarchar](250) NOT NULL,
	[Date] [date] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Stock_Tbl] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcription_Tbl]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcription_Tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SubcriptionKey] [nvarchar](250) NOT NULL,
	[UserTyoe] [nvarchar](250) NOT NULL,
	[ForeignId] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Subcription_Tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[ConfirmPassword] [nvarchar](250) NOT NULL,
	[IsAdmin] [int] NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CashierTable] ON 

INSERT [dbo].[CashierTable] ([id], [CashierId], [CurrentDay], [StartTime], [EndTime], [TotalHour]) VALUES (21, 4, CAST(N'2020-07-31T00:00:00.000' AS DateTime), CAST(N'2020-07-31T17:29:07.213' AS DateTime), CAST(N'2020-07-31T17:32:44.753' AS DateTime), 0.05)
INSERT [dbo].[CashierTable] ([id], [CashierId], [CurrentDay], [StartTime], [EndTime], [TotalHour]) VALUES (22, 4, CAST(N'2020-07-31T00:00:00.000' AS DateTime), CAST(N'2020-07-31T17:34:54.593' AS DateTime), NULL, 0)
INSERT [dbo].[CashierTable] ([id], [CashierId], [CurrentDay], [StartTime], [EndTime], [TotalHour]) VALUES (23, 4, CAST(N'2020-07-31T00:00:00.000' AS DateTime), CAST(N'2020-07-31T17:35:33.993' AS DateTime), CAST(N'2020-07-31T17:40:01.127' AS DateTime), 0.083333333333333329)
SET IDENTITY_INSERT [dbo].[CashierTable] OFF
SET IDENTITY_INSERT [dbo].[Login_Tbl] ON 

INSERT [dbo].[Login_Tbl] ([id], [First_Login_Date], [Last_Login_Date], [Expiration_Date], [IsAuthenticated]) VALUES (11, CAST(N'2020-07-31T18:06:11.530' AS DateTime), CAST(N'2020-08-31T21:01:16.883' AS DateTime), CAST(N'2020-10-31T18:06:11.530' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Login_Tbl] OFF
SET IDENTITY_INSERT [dbo].[menuCategory] ON 

INSERT [dbo].[menuCategory] ([id], [name], [color]) VALUES (1069, N'Burger', N'#FF8000')
INSERT [dbo].[menuCategory] ([id], [name], [color]) VALUES (1070, N'Fish', N'#00FFFF')
INSERT [dbo].[menuCategory] ([id], [name], [color]) VALUES (1071, N'Rice', N'#0080FF')
SET IDENTITY_INSERT [dbo].[menuCategory] OFF
SET IDENTITY_INSERT [dbo].[menuItems] ON 

INSERT [dbo].[menuItems] ([id], [cat_id], [color], [itemName], [section_id], [Price], [discountpercnt], [status], [quantity], [barcode], [Aed_Vat]) VALUES (46, 1069, N'#80FF80', N'Zinger Burger', 12, 120, 0, 1, 1, N'12345678', 5)
INSERT [dbo].[menuItems] ([id], [cat_id], [color], [itemName], [section_id], [Price], [discountpercnt], [status], [quantity], [barcode], [Aed_Vat]) VALUES (47, 1069, N'#FF80FF', N'Double Dacker Burger', 12, 350, 0, 1, 1, N'12121212', 5)
INSERT [dbo].[menuItems] ([id], [cat_id], [color], [itemName], [section_id], [Price], [discountpercnt], [status], [quantity], [barcode], [Aed_Vat]) VALUES (48, 1070, N'#FF8040', N'Finger Fish', 12, 1200, 0, 1, 1, N'12341234', 5)
SET IDENTITY_INSERT [dbo].[menuItems] OFF
SET IDENTITY_INSERT [dbo].[POS_Tbl] ON 

SET IDENTITY_INSERT [dbo].[POS_Tbl] OFF
SET IDENTITY_INSERT [dbo].[R_Tables] ON 

INSERT [dbo].[R_Tables] ([id], [Name], [capacity], [status], [filled]) VALUES (12, N'Table_A', 4, 1, 0)
INSERT [dbo].[R_Tables] ([id], [Name], [capacity], [status], [filled]) VALUES (13, N'Table_B', 6, 1, 0)
INSERT [dbo].[R_Tables] ([id], [Name], [capacity], [status], [filled]) VALUES (14, N'Table_C', 10, 1, 0)
SET IDENTITY_INSERT [dbo].[R_Tables] OFF
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([Sale_Id], [TicketNo], [TableName], [CustomerName], [OrderType], [Balance], [TicketNote], [IsDeleted], [PhoneNumber], [DeliveryAddress], [IsBillPending], [cashier_id], [day], [ReceivedAmount], [RemainingBalance], [NumberOfPerson], [TAX], [IsRefund], [Cahier_Name]) VALUES (9, N'1', N'Table_A', N'Hamza', N'Dine_In', 493.5, N'', 0, N'', N'', 0, 4, CAST(N'2020-07-31T00:00:00.000' AS DateTime), 500, 6.5, 1, 23.5, 0, N'Softangle User')
INSERT [dbo].[Sale] ([Sale_Id], [TicketNo], [TableName], [CustomerName], [OrderType], [Balance], [TicketNote], [IsDeleted], [PhoneNumber], [DeliveryAddress], [IsBillPending], [cashier_id], [day], [ReceivedAmount], [RemainingBalance], [NumberOfPerson], [TAX], [IsRefund], [Cahier_Name]) VALUES (10, N'2', N'', N'waleed', N'Take_Away', 525, N'Extra Sauce', 0, N'', N'', 0, 4, CAST(N'2020-07-31T00:00:00.000' AS DateTime), 600, 75, 0, 25, 0, N'Softangle User')
INSERT [dbo].[Sale] ([Sale_Id], [TicketNo], [TableName], [CustomerName], [OrderType], [Balance], [TicketNote], [IsDeleted], [PhoneNumber], [DeliveryAddress], [IsBillPending], [cashier_id], [day], [ReceivedAmount], [RemainingBalance], [NumberOfPerson], [TAX], [IsRefund], [Cahier_Name]) VALUES (11, N'3', N'', N'Khuraam', N'Home_Delivery', 1669.5, N'', 0, N'03451515151', N'sargodha', 0, 4, CAST(N'2020-07-31T00:00:00.000' AS DateTime), 1669.5, 0, 0, 79.5, 0, N'Softangle User')
SET IDENTITY_INSERT [dbo].[Sale] OFF
SET IDENTITY_INSERT [dbo].[SaleDetail] ON 

INSERT [dbo].[SaleDetail] ([ItemId], [itemName], [Price], [Discount], [Quantity], [Total], [TicketNo], [RecordID], [Aed_Vat], [Aed_Vat_Amount], [Date]) VALUES (46, N'Zinger Burger', 120, 0, 1, 120, N'1', 33, 5, 6, CAST(N'2020-07-31T00:00:00.000' AS DateTime))
INSERT [dbo].[SaleDetail] ([ItemId], [itemName], [Price], [Discount], [Quantity], [Total], [TicketNo], [RecordID], [Aed_Vat], [Aed_Vat_Amount], [Date]) VALUES (47, N'Double Dacker Burger', 350, 0, 1, 350, N'1', 34, 5, 17.5, CAST(N'2020-07-31T00:00:00.000' AS DateTime))
INSERT [dbo].[SaleDetail] ([ItemId], [itemName], [Price], [Discount], [Quantity], [Total], [TicketNo], [RecordID], [Aed_Vat], [Aed_Vat_Amount], [Date]) VALUES (50, N'Plain Rice', 70, 0, 5, 350, N'2', 35, 5, 17.5, CAST(N'2020-07-31T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SaleDetail] OFF
SET IDENTITY_INSERT [dbo].[section] ON 

INSERT [dbo].[section] ([id], [sectionname]) VALUES (12, N'Kitchen')
INSERT [dbo].[section] ([id], [sectionname]) VALUES (13, N'Factory')
SET IDENTITY_INSERT [dbo].[section] OFF
SET IDENTITY_INSERT [dbo].[Stock_Tbl] ON 

INSERT [dbo].[Stock_Tbl] ([Id], [CategoryName], [ItemName], [Date], [Quantity]) VALUES (8, N'Burger', N'Zinger Burger', CAST(N'2020-07-31' AS Date), 30)
INSERT [dbo].[Stock_Tbl] ([Id], [CategoryName], [ItemName], [Date], [Quantity]) VALUES (9, N'Burger', N'Double Dacker Burger', CAST(N'2020-07-31' AS Date), 20)
INSERT [dbo].[Stock_Tbl] ([Id], [CategoryName], [ItemName], [Date], [Quantity]) VALUES (10, N'Fish', N'Finger Fish', CAST(N'2020-07-31' AS Date), 20)
SET IDENTITY_INSERT [dbo].[Stock_Tbl] OFF
SET IDENTITY_INSERT [dbo].[Subcription_Tbl] ON 

INSERT [dbo].[Subcription_Tbl] ([id], [SubcriptionKey], [UserTyoe], [ForeignId]) VALUES (15, N'JSZGoDZee9Wxz8bX+nIS+fYxzZv2GbOzDW6LucNcSNgJ61hOyEKR7emIda3zmRdZPtkoqTS/KrqjYcLUOhlZ6A==', N'27864vQ56r5R3PuZG0XN+esFo+ZQ7jG5I3iqU429wx0=', N'oLxPk2tSJtYS2rrxpd1RHQ==')
INSERT [dbo].[Subcription_Tbl] ([id], [SubcriptionKey], [UserTyoe], [ForeignId]) VALUES (16, N'OuN3HwUbnzojx+MbS3GdpIqc0Gnwvt8C9siEVPRA2RekwrOVXoewR2AWYlnA44vCDYIezlLadu/kk0eSJ6OZVA==', N'27864vQ56r5R3PuZG0XN+esFo+ZQ7jG5I3iqU429wx0=', N'oLxPk2tSJtYS2rrxpd1RHQ==')
INSERT [dbo].[Subcription_Tbl] ([id], [SubcriptionKey], [UserTyoe], [ForeignId]) VALUES (17, N'DBRkCoru995cGI28xZFqGMWUkjJFCJ7UWPBrAMr9JDrv1NFxGhSSX5Gz4/2ON5TG1IsoF1y2NfgJgN3St/KmLA==', N'27864vQ56r5R3PuZG0XN+esFo+ZQ7jG5I3iqU429wx0=', N'oLxPk2tSJtYS2rrxpd1RHQ==')
SET IDENTITY_INSERT [dbo].[Subcription_Tbl] OFF
SET IDENTITY_INSERT [dbo].[UserTable] ON 

INSERT [dbo].[UserTable] ([UserId], [FullName], [UserName], [Password], [ConfirmPassword], [IsAdmin]) VALUES (3, N'Softangle Admin', N'admin@gmail.com', N'123', N'123', 1)
INSERT [dbo].[UserTable] ([UserId], [FullName], [UserName], [Password], [ConfirmPassword], [IsAdmin]) VALUES (4, N'Softangle User', N'user@gmail.com', N'123', N'123', 0)
SET IDENTITY_INSERT [dbo].[UserTable] OFF
ALTER TABLE [dbo].[menuItems] ADD  CONSTRAINT [DF_menuItems_status]  DEFAULT ((1)) FOR [status]
GO
/****** Object:  StoredProcedure [dbo].[GetTablesOnChangeing]    Script Date: 9/1/2020 8:21:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetTablesOnChangeing]
@TicketNo varchar(10)
as
begin

select a.id,a.Name,a.capacity,a.status
,iif(a.Name = b.TableName , (a.filled - b.nop) , a.filled)[filled]
from [dbo].[R_Tables] as a
left join 
(select TableName[tablename] , NumberOfPerson[nop] from [dbo].[Sale] where TicketNo = @TicketNo) as b 
on a.Name = b.tablename

end
GO
